<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

    <add key="to" value="name@domain.com" />
		<add key="from" value="name@domain.com" />
		<add key="domain" value="domain.com" />
		<add key="selector" value="dkim" />
		<add key="privatekey" value="-----BEGIN RSA PRIVATE KEY-----
-----END RSA PRIVATE KEY-----" />
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="localhost" />
			</smtp>
		</mailSettings>
		
	</system.net>
</configuration>